.home {
  .home_main {
    display: grid;
    grid-template-columns: 18% 82%;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    .home_sidebar {
      display: none;
    }
  }
}
