.home {
  .home_main {
    display: grid;
    grid-template-columns: 18% 82%;
    justify-content: center;

    .vehicles {
      .vehicles_status {
        margin-top: 580px;
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 20px;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    .home_sidebar {
      display: none;
    }
  }
}
