.home {
  max-width: 100% !important;
  box-sizing: border-box !important;

  .home_main {
    display: grid;
    grid-template-columns: 18% 80%;
    justify-content: center;

    .vehicles {
      .vehicles_status {
        // margin-top: 580px;
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    .home_sidebar {
      display: none;
    }

    .home_main {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;

      .vehicles {
        .vehicles_status {
          padding: 0px 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    .home_main {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;

      .vehicles {
        .vehicles_status {
          display: grid;
          grid-template-columns: 100%;
          justify-content: center;
        }
      }
    }
  }
}
