$text_color: #3d3c42;

.VehiclesStatus {
  background-color: #d7dcea2f;
  border-radius: 2px;
  .status_icon {
    display: flex;
    align-items: center;
    color: $text_color;
    padding-left: 10px;

    .icon {
      margin-right: 5px;
    }
  }

  .vehicles {
    padding: 0px 10px;
    .vehicles_info {
      background-color: #d7dcea70;
      display: grid;
      grid-template-columns: 10% 80%;
      align-items: center;
      margin-bottom: 8px;
      border-radius: 13px;
      padding: 0px 5px;
      cursor: pointer;

      .vehicles_details {
        .vehicles_name_date {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin-bottom: 0px;
            color: $text_color;
            text-transform: capitalize;
          }
        }

        .vehicles_position_speed {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin-top: 10px;
            color: $text_color;
          }
        }
      }
    }
  }
}
