$text_color: #3d3c42;

.VehiclesStatus {
  .status_icon {
    display: flex;
    align-items: center;
    color: $text_color;

    .icon {
      margin-right: 5px;
    }
  }

  .vehicles {
    .vehicles_info {
      display: grid;
      grid-template-columns: 10% 70%;
      align-items: center;

      .status_icons {
        //
      }

      .vehicles_details {
        .vehicles_name_date {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin-bottom: 0px;
            color: $text_color;
          }
        }

        .vehicles_position_speed {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin-top: 10px;
            color: $text_color;
          }
        }
      }
    }
  }
}
